# Ігнорувати папку .idea, де JetBrains IDE зберігає свої налаштування проекту
.idea/

# Ігнорувати всі файли налаштувань у форматі .iml, які створюються IDE
*.iml

# Ігнорувати бібліотеки та зовнішні файли, завантажені IDE
out/